<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bulma.css">
<link rel="stylesheet" href="css/fontawesome-all.min.css">
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.marquee.min.js"></script>

<!-- component template -->
<script type="text/x-template" id="mq-template">
  <table>
    <tbody>
      <tr>
        <td v-for="data in stocks">
          {{data['name']}}&nbsp;{{data['symbol']}}&nbsp;
          <span class="icon">
	        <i class="fas fa-caret-down has-text-success"></i>
	      </span>
	      <span class="has-text-success">
	      	{{data['trade']}}&nbsp;{{data['pricechange']}}%&nbsp;&nbsp;&nbsp;&nbsp;
	      </span>
        </td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>
<script>
	// https://cn.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html
	$(function(){
		// register the grid component
		Vue.component('mq-grid', {
		  template: '#mq-template',
		  props: {
		    stocks: Array
		  }
		});
		// bootstrap the mq
		var mq1 = new Vue({
		  el: '#marquee1',
		  data: {
		    mqData: [
		      { name: '上海机场', symbol: 'sh600009', trade: 50.090, pricechange: -1.456 },
		      { name: '中国太保', symbol: 'sh601601', trade: 36.170, pricechange: 0.840 },
		      { name: '中国核电', symbol: 'sh601985', trade: 6.520, pricechange: -0.030 },
		      { name: '江苏银行', symbol: 'sh600919', trade: 7.260, pricechange: 0.040 },
		      { name: '招商证券', symbol: 'sh600999', trade: 17.060, pricechange: 0.050 }
		    ]
		  },
		  mounted () {
		  	console.info(this.mqData);
		    axios
		      .get('/stock/get_random_stocks.php')
		      .then(response => (console.info(response)))
		  }
		});
		// register the grid component
		/*
		Vue.component('demo-grid', {
		  template: '#grid-template',
		  props: {
		    data: Array,
		    columns: Array,
		    filterKey: String
		  },
		  data: function () {
		    var sortOrders = {}
		    this.columns.forEach(function (key) {
		      sortOrders[key] = 1
		    })
		    return {
		      sortKey: '',
		      sortOrders: sortOrders
		    }
		  },
		  computed: {
		    filteredData: function () {
		      var sortKey = this.sortKey
		      var filterKey = this.filterKey && this.filterKey.toLowerCase()
		      var order = this.sortOrders[sortKey] || 1
		      var data = this.data
		      if (filterKey) {
		        data = data.filter(function (row) {
		          return Object.keys(row).some(function (key) {
		            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
		          })
		        })
		      }
		      if (sortKey) {
		        data = data.slice().sort(function (a, b) {
		          a = a[sortKey]
		          b = b[sortKey]
		          return (a === b ? 0 : a > b ? 1 : -1) * order
		        })
		      }
		      return data
		    }
		  },
		  filters: {
		    capitalize: function (str) {
		      return str.charAt(0).toUpperCase() + str.slice(1)
		    }
		  },
		  methods: {
		    sortBy: function (key) {
		      this.sortKey = key
		      this.sortOrders[key] = this.sortOrders[key] * -1
		    }
		  }
		});
        */
		// bootstrap the demo
		/*
		var demo = new Vue({
		  el: '#demo',
		  data: {
		    searchQuery: '',
		    gridColumns: ['name', 'power'],
		    gridData: [
		      { name: 'Chuck Norris', power: Infinity },
		      { name: 'Bruce Lee', power: 9000 },
		      { name: 'Jackie Chan', power: 7000 },
		      { name: 'Jet Li', power: 8000 }
		    ]
		  },
		  mounted () {
		  	console.info(this.gridData);
		    axios
		      .get('/stock/get_random_stocks.php')
		      .then(response => (console.info(response)))
		  }
		});
		*/

		$('.marquee1')
		/*
		.bind('finished', function(){
			//Change text to something else after first loop finishes
			$(this).marquee('destroy');
			//Load new content using Ajax and update the marquee container
			$(this).html('<span class="mq_text">Some new data loaded using ajax</span>')
			//Apply marquee plugin again
			.marquee({
				speed: 100,
				//duration in milliseconds of the marquee
				duration: 40000,//40000,
				//gap in pixels between the tickers
				gap: 50,
				//time in milliseconds before the marquee will start animating
				delayBeforeStart: 0,
				//'left' or 'right'
				direction: 'right',
				//true or false - should the marquee be duplicated to show an effect of continues flow
				duplicated: true
			});
		})
		*/
		.marquee({
			speed: 100,
			//duration in milliseconds of the marquee
			duration: 10000,//40000,
			//gap in pixels between the tickers
			gap: 50,
			//time in milliseconds before the marquee will start animating
			delayBeforeStart: 0,
			//'left' or 'right'
			direction: 'right',
			//true or false - should the marquee be duplicated to show an effect of continues flow
			duplicated: true,
			startVisible: true
		});
		$('.marquee2').marquee({
			speed: 100,
			//duration in milliseconds of the marquee
			duration: 40000,
			//gap in pixels between the tickers
			gap: 50,
			//time in milliseconds before the marquee will start animating
			delayBeforeStart: 0,
			//'left' or 'right'
			direction: 'right',
			//true or false - should the marquee be duplicated to show an effect of continues flow
			duplicated: true,
			startVisible: true
		});
		// $.getJSON("/stock.json", function(data) {
		// 	console.info(data);
		// });
	});
</script>

<style type="text/css">
.container {
  width: 3500px;
  max-width: 3500px;
}
.marquee1, .marquee2 {
  width: 3500px;
  height: 65px;
  overflow: hidden;
  background: #000;
  max-width: 3500px;
  padding-top: 6px;
}
.marquee1 table, .marquee2 table, .mq_text {
	color: #fff;
	font-size: 35px;
}
table td {
	width: 680px;
}
</style>
<div class="container is-fullhd">
    <div class="marquee1" id="marquee1">
	    <mq-grid :stocks="mqData">
		</mq-grid>
		<!--
    	<table>
    		<tr>
			    <td>
			    	上海机场 &nbsp;sh600009&nbsp;
			    
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">50.090&nbsp;-1.456%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>东风汽车 &nbsp;sh600006&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">5.240&nbsp; 0.963%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	浦发银行 &nbsp;sh600000&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">12.500&nbsp;0.160%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>白云机场 &nbsp;sh600004&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">16.500&nbsp; 1.227%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	中国国贸 &nbsp;sh600007&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">15.340&nbsp; 1.321%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
		    </tr>
	    </table>
	-->
    </div>

    <div class="marquee2">
    	<table>
    		<tr>
			    <td>华能国际 &nbsp;sh600011&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">6.990&nbsp;  -0.143%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	首创股份 &nbsp;sh600008&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">5.250&nbsp;  0.191%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	皖通高速 &nbsp;sh600012&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">10.770&nbsp;  -0.185%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	民生银行 &nbsp;sh600016&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">8.500&nbsp;  -0.118%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	上港集团 &nbsp;sh600018&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">7.460&nbsp;  -0.798%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
		    </tr>
	    </table>
    </div>

	<!-- demo root element 
	<div id="demo">
	  <form id="search">
	    Search <input name="query" v-model="searchQuery">
	  </form>
	  <demo-grid
	    :data="gridData"
	    :columns="gridColumns"
	    :filter-key="searchQuery">
	  </demo-grid>
	</div>
	-->
</div>
</body>
</html>