<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bulma.css">
<link rel="stylesheet" href="css/fontawesome-all.min.css">
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.marquee.min.js"></script>

<!-- component template  -->
<script type="text/x-template" id="mq-template">
  <table class="mq_table" style="display: block;">
    <tbody>
      <tr>
        <td v-for="data in stocks">
          <template v-if="data['pricechange']<0">
          {{data['name']}}&nbsp;{{data['symbol']}}&nbsp;
          <span class="icon">
	        <i class="fas fa-caret-down has-text-success"></i>
	      </span>
	      <span class="has-text-success">
	      	{{data['trade']}}&nbsp;&nbsp;&nbsp;{{data['pricechange']}}%&nbsp;&nbsp;&nbsp;
	      </span>
	      </template>
	      <template v-else>
		    {{data['name']}}&nbsp;{{data['symbol']}}&nbsp;
	        <span class="icon">
		      <i class="fas fa-caret-up has-text-danger"></i>
		    </span>
		    <span class="has-text-danger">
		      {{data['trade']}}&nbsp;&nbsp;&nbsp;{{data['pricechange']}}%&nbsp;&nbsp;&nbsp;
		    </span>
		  </template>
        </td>
      </tr>
    </tbody>
  </table>
</script>
<script>
	// https://cn.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html
	$(function(){
		// register the grid component
		Vue.component('mq-grid', {
		  template: '#mq-template',
		  props: {
		    stocks: Array
		  }
		});
		// bootstrap the mq
		var mq1 = new Vue({
		  el: '#marquee',
		  data: {
		    mqData: [
		    /*
		      { name: '上海机场', symbol: 'sh600009', trade: 50.090, pricechange: -1.456 },
		      { name: '中国太保', symbol: 'sh601601', trade: 36.170, pricechange: 0.840 },
		      { name: '中国核电', symbol: 'sh601985', trade: 6.520, pricechange: -0.030 },
		      { name: '江苏银行', symbol: 'sh600919', trade: 7.260, pricechange: 0.040 },
		      { name: '招商证券', symbol: 'sh600999', trade: 17.060, pricechange: 0.050 }
		    */
		    ],
		    shengData: []
		  },
		  methods: {
		    refresh: function () {
		        // console.info(this.mqData);
			  	var vm = this
			    axios
			      .get('/stock/get_random_stocks.php')
			      .then(function (response) {
			      	// console.info(response.data.shang)
			      	vm.mqData = response.data.shang;
			      	vm.shengData = response.data.shen;
			      	// console.info(vm.mqData);
			      	})
			      .catch(error => {
			        console.log(error)
			      })
		    }
		  },
		  // mounted () {
		  /*
		  created () {
		  	// console.info(this.mqData);
		  	var vm = this
		    axios
		      .get('/stock/get_random_stocks.php')
		      .then(function (response) {
		      	// console.info(response.data.shang)
		      	vm.mqData = response.data.shang;
		      	vm.shengData = response.data.shen;
		      	// console.info(vm.mqData);
		      	})
		      .catch(error => {
		        console.log(error)
		      })
		  }*/
		});

		mq1.refresh();
		setInterval(function(){
			$('table').slideToggle(200);
			mq1.refresh();
            $('table').slideToggle(200);
		}, 2500);
        /*
  	    $('.marquee1')
		  .bind('finished', function(){
		  	mq1.refresh();
		  })
		.marquee({
			speed: 1200,
			//duration in milliseconds of the marquee
			// duration: 40000,
			//gap in pixels between the tickers
			gap: 50,
			//time in milliseconds before the marquee will start animating
			delayBeforeStart: 0,
			//'left' or 'right'
			direction: 'down',
			//true or false - should the marquee be duplicated to show an effect of continues flow
			duplicated: false,
			startVisible: true
		});

		$('.marquee2')
		  // .bind('finished', function(){
		  	// mq2.refresh();
		  // })
		  .marquee({
			speed: 1200,
			//duration in milliseconds of the marquee
			// duration: 40000,
			//gap in pixels between the tickers
			gap: 50,
			//time in milliseconds before the marquee will start animating
			delayBeforeStart: 0,
			//'left' or 'right'
			direction: 'down',
			//true or false - should the marquee be duplicated to show an effect of continues flow
			duplicated: false,
			startVisible: true
		});
		*/
	});
</script>

<style type="text/css">
.container {
  width: 3500px;
  max-width: 3500px;
}
.marquee1, .marquee2 {
  width: 3500px;
  height: 65px;
  overflow: hidden;
  background: #000;
  max-width: 3500px;
  padding-top: 6px;
}
.marquee1 table, .marquee2 table, .mq_text {
	color: #fff;
	font-size: 35px;
}
table td {
	width: 690px;
}
</style>
<div class="container is-fullhd" id="marquee">
    <div class="marquee1">
	    <mq-grid :stocks="mqData">
		</mq-grid>
		<!--
    	<table>
    		<tr>
			    <td>
			    	上海机场 &nbsp;sh600009&nbsp;
			    
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">50.090&nbsp;-1.456%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>东风汽车 &nbsp;sh600006&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">5.240&nbsp; 0.963%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	浦发银行 &nbsp;sh600000&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">12.500&nbsp;0.160%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>白云机场 &nbsp;sh600004&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">16.500&nbsp; 1.227%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	中国国贸 &nbsp;sh600007&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">15.340&nbsp; 1.321%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
		    </tr>
	    </table>
	-->
    </div>

    <div class="marquee2">
    	<mq-grid :stocks="shengData">
		</mq-grid>
    	<!--
    	<table>
    		<tr>
			    <td>华能国际 &nbsp;sh600011&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">6.990&nbsp;  -0.143%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	首创股份 &nbsp;sh600008&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-up has-text-danger"></i>
			        </span>
			        <span class="has-text-danger">5.250&nbsp;  0.191%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	皖通高速 &nbsp;sh600012&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">10.770&nbsp;  -0.185%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	民生银行 &nbsp;sh600016&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">8.500&nbsp;  -0.118%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
			    <td>
			    	上港集团 &nbsp;sh600018&nbsp;
			    	<span class="icon">
			            <i class="fas fa-caret-down has-text-success"></i>
			        </span>
			        <span class="has-text-success">7.460&nbsp;  -0.798%&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    </td>
		    </tr>
	    </table>
	    -->
    </div>
</div>
</body>
</html>