{(header.html)}

<section class="section">
    <div class="container">
        <!--
          <h1 class="title">Section</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        -->

        <div class="box">
            <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                  <br>
                  Nullam condimentum luctus turpis.
                </p>
              </div>
            </div>
            <div class="media-right">
                <a class="button is-info code-btn">Show Code</a>
            </div>
            </article>
        </div><!--box-->
        <div class="box">
            <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                  <br>
                  Nullam condimentum luctus turpis.
                </p>
              </div>
            </div>
            <div class="media-right">
                <a class="button is-info code-btn">Show Code</a>
            </div>
            </article>
        </div><!--box-->

    </div><!--container-->
</section>

{(footer.html)}

